body{
    background-color: #EEE;
    margin: 0;
}
.container{
    background-color: #E4F9F5;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.image{
        float: left;
        height: 200px;
        width: 200px;
        border: 2px solid white;
        border-radius: 50%;
        margin: 10px;
}
.header-bio{
    float: left;
    margin-top: 20px;
}
.header-contact{
    float: right;
    font-size: 150%;
}
.clear-div{
    clear: both;
}
.hr-style{
    border: 2px solid black;
}
h1,h2,h3,h4,h5,h6,p{
    color: #11999e;
}
.header-contact p:hover{
    text-decoration: underline;
    color: tomato;
}
#content{

}
#left-div{
    width: 30%;
    float: left;
    margin:0 auto;
}
#right-div{
    width: 70%;
    float: left;
    
}
.hr-style2{
    border: 1px solid black;
    margin-bottom: none;
}
#edu-left-div{
    float: left;
    width: 45%;
}
#edu-right-div{
    float: right;
    width: 45%;
}
.bottom{
    background-color: black;
    text-align: center;
    padding: 20px;
}
.bottom a{
    text-decoration: none;
    color: whitesmoke;
    margin: 20px;

}
.bottom p{
    text-decoration: none;
    color: whitesmoke;
    margin: 20px;

}